{{ define "node" }}{{ .ID }}-{{ prTitles .PRs | sort }}:{ {{- range .Children}}{{ template "node" . }}{{ end }},} {{- end }}
{{- $tree := (loadTicketsTree "\\[(\\w+-\\d+)\\]" true . nil) }}
{{- range $tree.Roots }}{{ template "node" . }}
{{ end }}
{{- range $tree.UnattachedPRs }}{{ .Title }}
{{ end }}